[Desktop Entry]
Version=1.0
Type=Link
Name=Gandalf 10 hours
Comment=Stress test per eccellenza
Icon=multimedia-video-player
URL=https://www.youtube.com/watch?v=G1IbRujko-A
