[Desktop Entry]
Name=Pesca
Comment=Esegue le operazioni da effettuare per preparare la Golden Image
Exec=./pesca.sh
Type=Application
Terminal=true
Icon=software-sources
StartupNotify=false
