[Desktop Entry]
Version=1.0
Type=Application
Name=Stress GPU
Comment=Programma dimostrativo in OpenGL
Exec=env vblank_mode=0 GALLIUM_HUD=cpu,fps glxgears -geometry 650x650
Icon=applications-graphics
Terminal=false
StartupNotify=false
