[Desktop Entry]
Name=CPU

X-KDE-PluginInfo-Name=CPU
X-KDE-PluginInfo-Author=WEEE Open
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=weeeopen.polito.it
X-KDE-PluginInfo-License=CC-BY-SA-4.0
